.project-grid {
  grid-template-areas:
    'first first first first first first . . . . . .'
    'first first first first first first . second second second second second'
    '. . . . . . . second second second second second'
    '. third third third third third fourth fourth fourth fourth fourth fourth'
    '. third third third third third fourth fourth fourth fourth fourth fourth';
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: repeat(12, 1fr);
  @apply gap-8;
}

.image-grid {
  grid-template-areas:
    'area-1 area-1 area-1 area-1 dead dead dead dead dead dead dead dead dead dead dead dead'
    'area-1 area-1 area-1 area-1 dead dead dead dead dead dead dead area-2 area-2 area-2 area-2 area-2'
    'dead dead dead dead dead dead dead dead dead dead dead area-2 area-2 area-2 area-2 area-2'
    'dead dead dead dead dead area-3 area-3 area-3 area-3 area-3 area-4 area-4 area-4 area-4 area-4 area-4'
    'dead dead dead dead dead area-3 area-3 area-3 area-3 area-3 area-4 area-4 area-4 area-4 area-4 area-4';
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(16, auto);
  @apply gap-8 grid;
}
